<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>智能仓库管理系统</title>
    <!--引入主面板的样式设置-->
    <link th:href="@{css/index.css}" rel="stylesheet">
    <link th:href="@{bootstrap/dist/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{bootstrap/dist/js/bootstrap.js}"></script>
</head>
<body>
<!--顶部导航条-->
<nav class="navbar navbar-dark bg-primary fontColorSet">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed buttonColor" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">智能仓库管理系统</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" id="JumpToContent">首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">功能<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">业务功能</li>
                        <li class="divider"></li>
                        <li><a href="#">添加管理员</a></li>
                        <li><a href="#">添加仓库</a></li>
                        <li><a href="#">信息查询</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle "
                       data-toggle="dropdown" style="margin-right:3px"><span class="glyphicon glyphicon-user"
                                                                             aria-hidden="true"></span> <span
                            class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"
                            style="color:red;font-size:1px;" id="glyphicon-exclamation-sign1"></span> 张三 <b
                            class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" style="width:20px;">
                        <li><a href="#" id="edit_btn">个人信息</a></li>
                        <li class="divider"></li>
                        <li><a href="#" id="message_btn" onclick="removeglyphicon()">消息提醒 <span
                                id="glyphicon-exclamation-sign2" class="glyphicon glyphicon-exclamation-sign"
                                aria-hidden="true" style="color:red;"></span></a></li>
                        <li class="divider"></li>
                        <li><a>注销</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--自适应布局-->
<div class="container-fluid">
    <div class="row">
        <!---左侧导航栏-->
        <div class="sidebar containerLeft">
            <ul class="nav nav-sidebar">
                <li><a href="#" onclick="addContent('addFood')">增添食物</a></li>
                <li><a href="#" onclick="addContent('showFood')">显示食物</a></li>
                <li><a href="#" onclick="addContent('showFoodTemperature')">食物温度</a></li>
                <li><a href="#" onclick="addContent('ditu')">仓库管理</a></li>
                <li><a href="#" onclick="addContent('foodmanagement')">食品管理</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">食品入库</a>
                    <ul class="dropdown-menu menuItem" role="menu">
                        <li><a href="#" onclick="addContent('autoPutInStorage')">自动入库</a></li>
                        <li><a href="#" onclick="addContent('putInStorage')">手动入库</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">食品出库</a>
                    <ul class="dropdown-menu menuItem" role="menu">
                        <li><a href="#" onclick="addContent('zidongchuku')">自动出库</a></li>
                        <li><a href="#" onclick="addContent('shoudongchuku')">手动出库</a></li>
                    </ul>
                </li>

                <li><a href="#" onclick="addContent('1')">信息管理</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="#" onclick="addContent('1')">设置</a></li>
                <li><a href="#" onclick="addContent('1')">帮助</a></li>
            </ul>
        </div>
        <!--右侧管理控制台-->
        <div class="containerRight">

            <div id="content">
                <div class="frames">
                    <iframe name="left" id="rightMain"  frameborder="false" scrolling="auto"
                            style="border:none;" width="100%" height="580px" allowtransparency="true">
                    </iframe>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">

    function addContent(num) {

        $("#content").empty();

        if(num=="addFood"){
            // window.location.href = "/foods/showAddFood";
            $.ajax({
                url: "/foods/showAddFood",
                type:"GET",
                cache: false,
                success: function (html) {
                    $("#content").append(html);
                }
            });
        } else if(num=="showFood"){
            // window.location.href = "/foods/showAddFood";
            $.ajax({
                url: "/foods/showAllFood",
                type:"POST",
                cache: false,
                success: function (html) {
                    $("#content").append(html);
                }
            });
        }else if(num=="putInStorage"){
            $.ajax({
                url: "/putIn/putInStorage",
                type:"GET",
                cache: false,
                success: function (html) {
                    $("#content").append(html);
                }
            });
        }else if(num=="getFoodTemperature"){
            $.ajax({
                url: "/Foods/getFoodTemperature",
                type:"POST",
                data: {
                    "foodId": '2'
                },
                cache: false,
                success: function (html) {
                    $("#content").append(html);
                }
            });
        }else if(num=="showFoodTemperature"){
            $.ajax({
                url: "/Foods/showFoodTemperature",
                type:"GET",
                cache: false,
                success: function (html) {
                    $("#content").append(html);
                }
            });
        }

    }<!--函数addContent()-->




</script>

</body>
</html>