<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button type="button" id="submitButton">提交</button>

<script type="text/javascript">
    $('#submitButton').click(
        function () {
            $("#content").empty();
            $.ajax({
                url: "/Foods/FoodTemperature",
                type:"GET",
                cache: false,
                success: function (html) {
                    $("#content").append(html);
                }
            });
        }
    )
</script>

</body>
</html>